appdirs==1.4.4
certifi==2022.12.7
charset-normalizer==3.1.0
colorama==0.4.6
docutils==0.19
idna==3.4
Jinja2==3.1.2
Kivy==2.1.0
Kivy-Garden==0.1.5
kivy-garden.xcamera==2020.613
kivy-garden.zbarcam==2020.524
kivymd==1.1.1
MarkupSafe==2.1.2
numpy==1.24.3
opencv-python==4.7.0.72
packaging==23.1
pep517==0.13.0
Pillow==9.5.0
Pygments==2.15.1
pyzbar==0.1.9
requests==2.29.0
sh==1.14.3
toml==0.10.2
tomli==2.0.1
urllib3==1.26.15
xcamera==2020.613
zbarcam==2020.524
zbarlight==3.0
